<%- include("partials/header") %>

<div class="container">
  <h1>Welcome to My Recipe Site</h1>
  <p>Hi I am Michael and I love to cook. On this page you can create your own recipes and view my favorite recipe, chicken stir fry!</p>
  <a href="/recipes">View Recipes</a> | <a href="/add">Add Recipe</a>
</div>

<%- include("partials/footer") %>
